tr
  td.align-middle = link_to gist.question.body.truncate(25), admin_question_path(gist.question)
  td.align-middle = link_to gist.url, "https://gist.github.com/#{gist.url}", target: '_blank'
  td.align-middle = gist.user.email
