@import "bootstrap";
@import "typography/icons";

.pointer {
  cursor:pointer;
}

.hide {
  display:none;
}

.fit {
  width:100%;
  height:auto; }

#progressbar {
  width:0;
  height:.25rem;
}

#footer {
  p {
    span {
      float:right;
    }
  }
}